---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$max-width:90%;

.archive__item-teaser {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
